* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  background-color: rgba(113, 210, 255, 0.4392156863);
}

header {
  background-color: #183672;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  height: 20vh;
  box-shadow: 0px 0px 10px 1px black;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0;
  background-color: #183672;
}
.navbar-toggler {
  background-color: #001642;
  color: #ffb600;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280252, 182, 0, 100.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-nav {
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
.navbar__menu__page a {
  color: white;
}
.navbar-collapse {
  transition: 0.5s;
}

.nav-link, .nav-link.active {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: solid 2px white;
  transition: 0.3s;
}
.nav-link.active {
  color: #ffb600 !important;
  border-bottom: solid 2px #ffb600;
}
.nav-link:active {
  color: #ffb600;
}
.nav-link:hover {
  color: #ffb600;
  border-bottom: solid 2px #ffb600;
  transform: scale(120%);
}

.logo {
  width: 20vw;
}
@media (min-width: 768px) {
  .logo {
    width: 15vh;
  }
}

.footer {
  text-align: center;
  background-color: #183672;
  color: white;
  padding: 1vh;
}
.footer__logo {
  display: none;
}
.footer__info__list__elements {
  padding: 1vw;
}
.footer__info__list__elements h3 {
  color: white;
  font-size: 1.2rem;
}
.footer__info__list__elements a {
  color: white;
  font-size: 1.2rem;
}
.footer__info__list__elements p {
  margin: 0;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .footer__logo {
    display: block;
    width: 15vw;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
  }
  .footer__logo {
    display: block;
    width: 70%;
    height: 100%;
  }
  .footer__info__list {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
  }
}

.contact__map {
  width: 100%;
}
.contact__map iframe {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__info__contain {
  color: white;
  background-color: #1D4E89;
  margin: 10px 10px;
  padding: 10px;
  width: 80vw;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: solid #23427f 5px;
  transition: 0.3s;
}
.contact__info__contain__description {
  margin: 0;
}
.contact__info__contain:hover {
  background-color: #23427f;
}
.contact__icon {
  font-size: 1.5rem;
  margin-right: 10px;
}
@media (min-width: 1024px) {
  .contact__map iframe {
    height: 100%;
  }
  .contact__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact__info__contain {
    width: 40vw;
  }
}

.formulario {
  margin-bottom: 20px;
}
.formulario__image {
  display: flex;
  justify-content: center;
}
.formulario__contain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.formulario__contain div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}
.formulario__contain__button {
  color: white;
  margin: 10px 0px;
}

@media (min-width: 1024px) {
  .formulario__contain__button {
    width: 30%;
  }
}
.title {
  width: 100%;
  padding: 6px;
  background-color: #23427f;
  color: white;
  text-align: center;
  font-weight: 700;
  transition: 0.4s;
}
.title:hover {
  transform: scale(105%);
  color: #ffb600;
}

.btn {
  background-color: #23427f;
  padding: 5px;
  margin: 7px;
  border-style: none;
  border-radius: 5px;
  border: solid white 2px;
  transition: 0.3s;
  color: white;
}
.btn a {
  color: white;
}
.btn:hover {
  background-color: #ffb600;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #1D4E89;
  color: white;
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 10px;
  border-radius: 15px;
  border: solid #23427f 5px;
  transition: 0.3s;
}
.card__icon {
  font-size: 4rem;
}
.card__title {
  background-color: #23427f;
  width: 100%;
  font-weight: 700;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.card:hover {
  transform: scale(105%);
}
.card:hover .card__icon {
  color: #ffb600;
}

@media (min-width: 1024px) {
  .cards {
    display: flex;
    flex-direction: row;
  }
}
.whatsapp {
  width: 100px;
  position: fixed;
  right: 0;
  bottom: 10px;
  z-index: 1100;
}
.whatsapp__button {
  padding: 10px;
}
.whatsapp__contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 8px;
  background-color: #1bd741;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  transition: 0.5s;
}
.whatsapp__contain__text {
  margin: 0;
}
.whatsapp__contain--tel {
  background-color: #001642;
}
.whatsapp__contain:hover {
  transform: scale(125%);
}
.whatsapp__icon {
  font-size: 1.5rem;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.brands article {
  margin: 2vw;
}
.brands__image {
  width: 20vw;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgb(150, 150, 150);
  transition: 0.3s;
}
.brands__image:hover {
  transform: scale(110%);
}
.brands__name {
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .brands__image {
    width: 17vh;
  }
}
.carousel {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .carousel-item img {
    height: 85vh;
  }
}
.map {
  width: 100%;
}
.map iframe {
  width: 100%;
}

.formulario__contain__input {
  border-radius: 5px;
  border: 3px #001642 solid;
  background-color: #bedbff;
  height: 8vh;
}
.formulario__contain__input::placeholder {
  color: #001642;
  padding: 10px;
}
.formulario__contain__input:hover {
  background-color: #81baff;
  box-shadow: 1px 1px 5px 1px black;
  border-style: none;
}
@media (min-width: 1024px) {
  .formulario__contain__input {
    height: 7vh;
  }
}

@media (min-width: 768px) {
  .products__label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .products__label {
    margin: 0;
  }
}
.products__input {
  display: none;
}

input[type=radio]:checked:after {
  width: 14px;
  height: 14px;
  border-radius: 15px;
  border: solid 1px black;
  background-color: #ffb600;
  content: "";
  visibility: visible;
}

.formulario__contain__label {
  display: flex;
  justify-content: center;
  color: #001642;
  font-size: 1.3rem;
  font-weight: 400;
}

.products__label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  color: #23427f;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .products__label {
    margin: 0 8vw;
  }
}
@media (min-width: 1024px) {
  .products__label {
    font-size: 2rem;
    margin: 0 0px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
  }
  .products__label:hover {
    transform: scale(125%);
    color: #ffb600;
    background-color: #1D4E89;
  }
}
textarea {
  border-radius: 5px;
  border: 3px #001642 solid;
  background-color: #bedbff;
  height: 18vh;
}
textarea::placeholder {
  color: #001642;
  padding: 10px;
}
textarea:hover {
  background-color: #81baff;
  box-shadow: 1px 1px 5px 1px black;
  border-style: none;
}

@media (min-width: 1024px) {
  .container__ta__btn {
    display: flex;
  }
}
.products__container__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.products__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: solid 1px #ddd;
  border-radius: 4px;
  width: 50vw;
  margin: 5vw;
  transition: 0.3s;
}
.products__card div {
  position: relative;
}
.products__card__title {
  background-color: rgba(0, 0, 0, 0.712);
  padding: 5px;
  width: auto;
  position: absolute;
  bottom: 10%;
  z-index: 100;
  padding: 10px 10px 10px;
  font-weight: 700;
  color: white;
}
.products__card__img {
  width: 50vw;
  height: 50vw;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: solid 1px #ddd;
}
.products__card__description {
  text-align: center;
  margin: 7px;
  color: black;
  font-weight: 300;
}
.products__card__link:hover {
  text-decoration: underline;
}
.products__card:hover {
  transform: scale(105%);
}
.products__card:hover .products__card__title {
  background-color: black;
}
.products__card__btn {
  font-style: normal;
  padding: 5px;
}
@media (min-width: 768px) {
  .products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .products__card {
    width: 30vw;
  }
  .products__card__img {
    width: 30vw;
    height: 30vw;
  }
}
@media (min-width: 1024px) {
  .products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .products__card {
    width: 20vw;
    margin: 2vw;
  }
  .products__card__img {
    width: 20vw;
    height: 20vw;
  }
}
.products__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 1024px) {
  .products__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.services__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #23427f;
  color: white;
  width: 100%;
  margin: 3vw 0;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .services__container {
    width: 70vw;
  }
}
@media (min-width: 1024px) {
  .services__container {
    width: 40vw;
  }
}
.services__container__title {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  margin: 16px;
}
.services__container__title--active {
  font-weight: 700;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .services__container__title {
    font-size: 2rem;
  }
}
.services__container__img {
  width: 30vw;
  height: 20vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (min-width: 768px) {
  .services__container__img {
    width: 20vw;
    height: 15vw;
  }
}
@media (min-width: 1024px) {
  .services__container__img {
    width: 15vw;
    height: 10vw;
  }
}
.services__container:hover {
  transform: scale(105%);
}
.services__container--active {
  border-radius: 0;
  background-color: #ffb600;
  color: black;
  box-shadow: 0 0 0;
  margin: 1vw 0;
  transition: 0s;
}
.services__container--active:hover {
  color: white;
}
@media (min-width: 768px) {
  .services__container--active {
    width: 100%;
  }
}
.services__container--active:hover {
  transform: scale(100%);
}
@media (min-width: 768px) {
  .services div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px) {
  .services div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.galeria {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.galeria picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 10px #f8f9fa;
  border-radius: 10px;
  box-shadow: 1px 1px 30px black;
  width: 60vw;
  height: auto;
  margin: 20px 10px;
}
@media (min-width: 768px) {
  .galeria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .galeria picture {
    width: 30vw;
    height: 40vw;
  }
  .galeria picture img {
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .galeria picture {
    width: 20vw;
    height: 26vw;
    filter: grayscale(100%);
    transition: 0.2s;
  }
  .galeria picture:hover {
    filter: grayscale(0);
  }
  .galeria picture:hover img {
    transform: scale(110%);
  }
  .galeria picture:hover img {
    width: 20vw;
    height: 100%;
    border: solid 10px #f8f9fa;
    border-radius: 10px;
    box-shadow: 1px 1px 30px black;
    transition: 0.2s;
  }
}

/*# sourceMappingURL=style.css.map */
