.footer{
    text-align: center;

    background-color: $color-seccion;
    color: white;
    padding: 1vh;

    &__logo{
        display: none;
    }

    &__info__list__elements{
        padding: 1vw;

        a{
            color: white;
        }

        p{
            margin: 0;
        }
    }
}

@media (min-width: 768px){
    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__logo{
            display: block;
            width:  30vw;
            height: 100%;
        }
    }
}