header{
    background-color: $color-seccion;

    position: sticky;
    top: 0;

    z-index: 1000;
}

nav{
    height: 20vh;
    box-shadow: 0px 0px 10px 1px black;
}

.navbar{
    @include dflex(column, center);

    width: 100%;
    height: auto;
    padding: 0;

    background-color: $color-seccion;

    &-toggler{
        background-color: #001642;
        color: $color-detalles;
        
        &-icon{
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280252, 182, 0, 100.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }

    &-nav{
        padding-bottom: 10px;

        @include tablet{
            width: 100%;
    
            display: flex;
            justify-content: space-around;

        }
    }

    &__menu__page a{
        color: white;
    }

    &-collapse{
        transition: 0.5s;
    }
}

.nav-link{
    display: flex;
    justify-content: center;

    color: white;
    font-size: 1.2rem;
    font-weight: 600;

    border-bottom: solid 2px white;

    transition: 0.3s;

    &.active{
        @extend .nav-link;
        color: $color-detalles !important; 
        border-bottom: solid 2px $color-detalles;
    }
    &:active{
        color: $color-detalles;
    }
    &:hover{
        color: $color-detalles;
        border-bottom: solid 2px $color-detalles;
    
        transform: scale(120%);
    }
}

.logo{
    width: 20vw;

    @include tablet{
        width: 15vh;

    }
}
