.btn{
    background-color: $color-borde;
    
    padding: 5px;
    margin: 7px;

    border-style: none;
    border-radius: 5px;
    border: solid white 2px;

    transition: 0.3s;  

    color: white;

    a{
        color: white;
    }

    &:hover{
        background-color: $color-detalles;
    }
}
