.cards{
    @include dflex(column, space-between, center);

    width: 100%;
}
.card{
    @include dflex(column, space-around, center);

    background-color: $color-relleno;
    color: white;
    text-align: center;

    width: 80%;
    height: 100%;
    margin: 10px;

    border-radius: 15px;
    border: solid $color-borde 5px;

    transition: 0.3s;

    &__icon{
        font-size: 4rem;
    }

    &__title{
        background-color: $color-borde;
        width: 100%;

        font-weight: 700;

        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    &:hover{
        transform: scale(105%);
        .card__icon{
            color: $color-detalles;
        }
    }
}


@include desktop{
    .cards{
        display: flex;
        flex-direction: row;
    }
}
