.formulario__contain__label{
    display: flex;
    justify-content: center;

    color: #001642;
    font-size: 1.3rem;
    font-weight: 400;
}
.products__label{
    @include dflex(column, space-around, center);

    font-size: 1.5rem;
    color: $color-borde;

    margin-bottom: 15px;
}
@include tablet{
    .products__label{
        margin: 0 8vw;
    }
}
@include desktop{
    .products__label{
        font-size: 2rem;

        margin: 0 0px;

        transition: 0.3s;

        display: flex;
        justify-content: center;

        &:hover{
            transform: scale(125%);
            color: $color-detalles;
            background-color: $color-relleno;
        }
    }
}