textarea{
    border-radius: 5px;
    border: 3px #001642 solid;

    background-color: #bedbff;

    height: 18vh;

    &::placeholder{
        color: #001642;
        padding: 10px;
    }

    &:hover{
        background-color: #81baff;
        box-shadow: 1px 1px 5px 1px black;
        border-style: none;
    }
}

@media (min-width: 1024px){
    .container__ta__btn{
        display: flex;
        
    }
}