
.title{
    width: 100%;
    padding: 6px;

    background-color: $color-borde;

    color: white;
    text-align: center;
    font-weight: 700;

    transition: 0.4s;

    &:hover{
        transform: scale(105%);
        color: $color-detalles;
    }
}